{
"gui": {
"background": {
"zlevel": -1,
"type": "background",
"fileHeader": "/interface/tradAncienmod/header.png",
"fileBody": "/interface/tradAncienmod/body.png",
"fileFooter": "/interface/tradAncienmod/footer.png"
},

"titre": {
"type": "title",
"title": "Gottem",
"icon": {
"type": "image",
"file": "/interface/tradAncienmod/tradicon.png",
"zlevel": -1
}
},

"textboxMessage": {
"enterKey" : "test",
"type": "textbox",
"position": [6, 57],
"hint": "Write here",
"focus": true,
"maxWidth": 210,
"color": [255, 255, 255],
"fontSize": 8,
"zlevel": 2,
"callback": "test"
},


"boitephrase": {
"type": "image",
"position": [3, 54],
"file": "/interface/tradAncienmod/barretext.png",
"zlevel": 1
},


"owo": {
"type": "button",
"position": [6, 37],
"zlevel": 2,
"checkable": true,
"pressedOffset" : [0, 0],
"base": "/interface/optionsmenu/checkboxnocheck.png",
"hover": "/interface/optionsmenu/checkboxnocheckhover.png",
"baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
"hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
"checked": false, // true... do you want it to be checked when you open the gui
"callback": "null"
},

"basic": {
"type": "button",
"position": [18, 37],
"zlevel": 2,
"checkable": true,
"pressedOffset" : [0, 0],
"base": "/interface/optionsmenu/checkboxnocheck.png",
"hover": "/interface/optionsmenu/checkboxnocheckhover.png",
"baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
"hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
"checked": false, // true... do you want it to be checked when you open the gui
"callback": "null"
},

"edge": {
"type": "button",
"position": [6, 28],
"zlevel": 2,
"checkable": true,
"pressedOffset" : [0, 0],
"base": "/interface/optionsmenu/checkboxnocheck.png",
"hover": "/interface/optionsmenu/checkboxnocheckhover.png",
"baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
"hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
"checked": false, // true... do you want it to be checked when you open the gui
"callback": "null"
},

"close": {
"type": "button",
"base": "/interface/x.png",
"hover": "/interface/xhover.png",
"pressed": "/interface/xpress.png",
"pressedOffset": [0, 0],
"position": [210, 95]
}
},
"scripts": ["/scripts/tradAncien.lua"],
"scriptWidgetCallbacks": [
"test",
"effacer"
]
}